using Spectre.Console.Cli;

namespace FurLab.CLI.Commands.{{GROUP}}.{{SUBCOMMAND}};

/// <summary>
/// {{DESCRIPTION}}
/// </summary>
public sealed class {{PREFIX}}Command : AsyncCommand<{{PREFIX}}Settings>
{
    /// <summary>
    /// Initializes a new instance of the <see cref="{{PREFIX}}Command"/> class.
    /// </summary>
    public {{PREFIX}}Command()
    {
    }

    /// <inheritdoc/>
    protected override async Task<int> ExecuteAsync(CommandContext context, {{PREFIX}}Settings settings, CancellationToken cancellation)
    {
        // TODO: Implement command logic
        await Task.CompletedTask;
        return 0;
    }
}
