using System.ComponentModel;
using Spectre.Console.Cli;

namespace FurLab.CLI.Commands.{{GROUP}}.{{SUBCOMMAND}};

/// <summary>
/// Settings for the {{GROUP}} {{SUBCOMMAND}} command.
/// </summary>
public sealed class {{PREFIX}}Settings : CommandSettings
{
    // TODO: Add [CommandArgument] and [CommandOption] properties
}
